@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a demo version for team project 1 of the CMPSC 431W DBMS course.</p> 
<p>The course includes both CS and SE students.</p>
<p>A team of two will need to design their own recipe database and work on the online web application.</p>
