@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    164 Burke Center<br />
    5101 Jordan Road<br />
    Computer Science and Software Engineering Department<br />
    School of Engineering<br />
    Penn State Erie, The Behrend College<br />
    <abbr title="Phone">P:</abbr> 814.898.6386<br />
    <abbr title="Fax">F:</abbr> 814.898.6125
</address>

<address>
    <strong>Email Support:</strong> <a href="mailto:wxw18@psu.edu">wxw18@psu.edu</a><br />
</address>
