@{
    ViewData["Title"] = "Home Page";
}
<p style="font-size:28px; margin-top:40px">Are you ready to cook?</p>
<p>
<div>
    <img src="~/images/CookingRecipe.jpg" style="display:block; margin-left:auto; margin-right:auto; border:double; border-width:6px; border-radius:10px" />
</div>
</p>
